@font-face{

	font-family:"fonte1";
	src:url("fonts/OpenSans-Regular.ttf");

	font-family:"Raleway";
	src:url("fonts/Raleway-Regular.ttf");
}

*{
	margin:0px;
	padding:0px;	
}

body{

	background-color:#f7f7f7;
}

#barra-menu{

	top:0px;
	z-index:3;
	position : fixed;
	background-color:#f1f1f1;
	width:100%;
	height:60px;
	border-bottom:1px solid rgba(0,0,0,.2);	
}

#conteudo-menu{
	
	width:900px;
	height:60px;
	margin:0px auto 0px auto;	
}

img#logo{
	
	margin:5px 0px 0px 45px;

}

ul{	
	clear:both;	
	list-style:none;
	margin-left:350px;			
	margin-top:-61px;
}

a.a-menu{

	border-bottom: 1px solid rgba(0,0,0,0);
	text-decoration:none;
	color:#000;
	transition : border-bottom-color 0.5s;
}

a:hover{

	border-bottom-color: rgba(0,0,0,.5);

}

li{
		
	float:left;
	font-family:"Raleway", sans-serif;
	font-weight:inherit;
	font-size:18px;		
	padding:19px 20px 20px 20px;
	border-right: 1px solid rgba(0,0,0,.2);	
	-moz-transition : background-color .5;	
	transition : background-color .5s;
}

li:hover{
	background-color:#ccc;
}

li#home{
	border-left:1px solid rgba(0,0,0,.2);
}

#tudo{
	
	height:100%;
	width:1000px;	
	margin:0px auto 0px auto;
}

#conteudo{

	position:absolute;	
	height:100%;
	width:900px;	
	margin-left:50px;
	
}

.bloco-mosaico{
		
	width: 900px;
	height: 350px;
	margin:125px auto 0px auto;

}

figcaption{
	
	position:absolute;
	top:0;
	left:0;
	cursor: pointer;
	width:100%;
	height:100%;
	background-color:rgba(0,0,0,.5);
	-webkit-transition:opacity .5s;
	-moz-transition:opacity .5s;
	transition:opacity .5s;
}

figcaption:hover{

	opacity:0;
}



h1{
	font-family:"fonte1",sans-serif;
	font-weight:800;
	color:white;
	text-align:center;	
	padding: 25px;
}

.h1-grande{font-size:40px;}
.h1-pequeno{font-size:20px;}

.table{

	display: table;
	width: 100%;
	height: 100%;
}

.table-cell{

	display: table-cell;
	vertical-align: middle;	
}

.bloco-mosaico-grande{
	position:relative;
	width:550px;
	height:350px;	
	float:left;
}

img.mosaico{height:100%;width:100%;}

.bloco-mosaico-pequeno{
	position:relative;
	height:175px;
	width:350px;
	float:left;
}

.artigos{

	margin-top:75px;	
	width:900px;
	height:400px;
}

.artigo-grande{	
	box-shadow:1px 1px 4px gray;
	height:400px;
	width:425px;
	float:left;
}

.ajuste{margin-left: 50px;}

.imagem{
	position:relative;
	box-shadow:1px 1px 4px gray;
	width:425px;
	height:250px;
}

p.p-artigo-index{

	padding:20px;
	font-family:"fonte1", sans-serif;
	color:rgba(0,0,0,.7);
	font-size:17px;
	text-align: left;
}

p#texto-footer{

	text-align: center;
	font-family: "Raleway", sans-serif;	
	color:rgba(0,0,0,.8);
	font-size:15px;
}

footer{

	width:100%;
	height:40px;
	background-color:#ddd;
	border:1px solid rgba(0,0,0,.2);
	margin:25px auto 0px auto;
}

embed{

	margin:25px 175px 0px;
}